/*======================================================================*\
|| #################################################################### ||
|| # Youjoomla LLC 
|| # ---------------------------------------------------------------- # ||
|| # Copyright ©2006-2009 Youjoomla LLC. All Rights Reserved.           ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- THIS IS NOT FREE SOFTWARE ---------------- #      ||
|| # http://www.youjoomla.com | http://www.youjoomla.com/license.html # ||
|| #################################################################### ||
\*======================================================================*/
/*NEWS ITEM HOLDER*/
.yjnewsflashu {
	clear:both;
	overflow:hidden;
	display:block;
	margin:0;
	padding:0;
	height:1%;
	width:100%;
	position:relative;
}
/* ITEMS WRAP. PADDINGS AND MARGIN SHOULD BE APPLIED TO THIS DIV*/
.yjnewsflashu_in {
	padding:0 10px;
	margin:5px;
	display:block;
	overflow:hidden;
	position:relative;
	height:1%;
	border-bottom:1px solid #efefef;
}
/* last item in the row*/
.yjnewsflashu_in.last {
	border-bottom:none!important;
}
/*THERE IS A SPECIFIC ITEM CSS ID YOU CAN USE FOR EACH NEWS ITEM 
IT WILL BE DISPLAYED AS div class=".yjnewsflashu_in yjnfitemITEM_ID_NUMBER". 
.yjnfitem52 AS EXAMPLE. YOU CAN USE THIS DIV CLASS TO STYLE EACH NEWS ITEM SPECIFICALLY*/

/*.yjnfitem52{background:#ff0000;}*/

/* NEWS ITEM TITLE */
.yjnewsflashu a.itemtitle {
	display:block;
	overflow:hidden;
	clear:both;
	margin:0 0 5px 0;
	font-weight:bold;
}
/* NEWS ITEM IMAGE HOLDER */
.yjnewsflashu div.imageholder {
	overflow:hidden;
	float:left;
	margin:5px 5px 0px 0;
	padding:5px;
	border:1px solid #e0dede;
	background:#fff;
}
/* NEWS ITEM IMAGE LINK */
.yjnewsflashu a.itemimage {
	display:block;
	margin:0px;
	overflow:hidden;
}
/*  NEWS ITEM INTRO TEXT*/
.yjnewsflashu p.itemintro {
	padding:0;
	margin:0;
	display:block;
	overflow:visible;
}
/*  NEWS ITEM READ MORE*/
.yjnewsflashu a.itemreadmore {
	display:block;
	width:100px;
	text-align:center;
	float:right;
	clear:both;
	border:1px solid #efefef;
	height:20px;
	line-height:20px;
	padding:0 0 0 10px;
	margin:5px 0 5px 0;
}
.yjnewsflashu a.itemreadmore span {
	display: block;
	height:20px;
	line-height:20px;
	padding:0 10px 0 0px;
	text-align:center;
}
/*  NEWS ITEM DETAILS. DATE AND CATEGORY TITLE HOLDER*/
.yjnewsflashu div.itemdetails {
	display:block;
	position:absolute;
	bottom:0px;
	left:5px;
	overflow:hidden;
	width:130px;
}
.yjnewsflashu div.itemdetails .itemcategory, .yjnewsflashu div.itemdetails .itemcdate {
	float:left;
	font-weight:bold;
	font-size:10px;
	display:block;
}
/* ITEM COMMENTS */
.yjnewsflashu div.itemcomments, .yjnewsflashu div.itemcomments_no {
	position:absolute;
	top:0;
	right:0;
	font-size:10px;
	width:27px;
	height:22px;
	line-height:17px;
	color:#fff;
	background:url(../images/comments.gif) no-repeat center top;
	text-align:center;
}
.yjnewsflashu div.itemcomments_no {
	background:#ffef87;
	color:#222;
	width:150px;
	line-height:22px;
}
/* RESET MODULE HOLDER PADDINGS*/
.yjsquare_yjnewsflashu, .yjsquare_yjnewsflashu .yjsquare_in, .yjround_yjnewsflashu, .yjround_yjnewsflashu .yjround_in, .module_yjnewsflashu, .moduletable_yjnewsflashu {
	padding:0;
	margin:0;
}
